In [1]:
import pandas as pd

In [65]:
df = pd.read_csv('main_task_new.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [5]:
df.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

In [10]:
df.loc[0]

Restaurant_id                                                  id_5569
City                                                             Paris
Cuisine Style                  ['European', 'French', 'International']
Ranking                                                         5570.0
Rating                                                             3.5
Price Range                                                   $$ - $$$
Number of Reviews                                                194.0
Reviews              [['Good food at your doorstep', 'A good hotel ...
URL_TA               /Restaurant_Review-g187147-d1912643-Reviews-R_...
ID_TA                                                         d1912643
Name: 0, dtype: object

In [9]:
for elem in df.loc[0]:
    print(type(elem))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'str'>
<class 'numpy.float64'>
<class 'str'>
<class 'str'>
<class 'str'>

In [13]:
df.iloc[0][2]

"['European', 'French', 'International']"

In [14]:
df['Price Range'].unique()

array(['$$ - $$$', nan, '$$$$', '$'], dtype=object)

In [26]:
df[df['Price Range'] == '$$ - $$$'].shape[0]

18412

In [21]:
df.loc[4]

Restaurant_id                                                   id_615
City                                                            Munich
Cuisine Style        ['German', 'Central European', 'Vegetarian Fri...
Ranking                                                          621.0
Rating                                                             4.0
Price Range                                                   $$ - $$$
Number of Reviews                                                 84.0
Reviews              [['Best place to try a Bavarian food', 'Nice b...
URL_TA               /Restaurant_Review-g187309-d6864963-Reviews-Au...
ID_TA                                                         d6864963
Name: 4, dtype: object

In [29]:
len(df['City'].unique())

31

In [269]:
# Сколько типов кухонь представлено в наборе данных?
import re
from collections import Counter

df = pd.read_csv('main_task_new.csv')
df['Cuisine Style'] = df['Cuisine Style'].fillna("['Unknown']")
df['Cuisine Style'] = df['Cuisine Style'].str.replace('[','')
df['Cuisine Style'] = df['Cuisine Style'].str.replace(']','')
df['Cuisine Style'] = df['Cuisine Style'].str.replace("'","")

cuisines_set = set()
cuisines_list = []
cuisines_lists = []

for item in df['Cuisine Style']:
    #result = re.findall(r"\w+[ &]*[ \w+]*", item)
    result = item.split(r", ")
    cuisines_lists.append(result)
    for cuisine in result:
        cuisines_set.add(cuisine)
        cuisines_list.append(cuisine)

df['Cuisine Style'] = cuisines_lists
df['Cuisine_Num'] = [len(a) for a in cuisines_lists]

del cuisines_lists

print('Всего кухонь: ', len(cuisines_set)-1)# поскольку я добавила ранее новый "вид" кухни "unknown", то нужно отнять 1
print('Самая популярная кухня: ', Counter(cuisines_list).most_common()[0])
print('Среднее число кухонь в ресторане: ', df.Cuisine_Num.mean())

Всего кухонь:  125
Самая популярная кухня:  ('Vegetarian Friendly', 11189)
Среднее число кухонь в ресторане:  2.6224

<ipython-input-269-e9c19aca0ea0>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Cuisine Style'] = df['Cuisine Style'].str.replace('[','')
<ipython-input-269-e9c19aca0ea0>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Cuisine Style'] = df['Cuisine Style'].str.replace(']','')

In [270]:
df['Reviews'][0]

"[['Good food at your doorstep', 'A good hotel restaurant'], ['12/31/2017', '11/20/2017']]"

In [271]:
from datetime import datetime

#date_string = '2019-07-07T18:59:33'
#dt = datetime.strptime(date_string, '%Y-%m-%dT%H:%M:%S')
#date_format = dt.strftime('%d.%m.%Y')


review_dates = []

for item in df['Reviews']:
    review_dates.append(re.findall(r"\d\d/\d\d/\d\d\d\d", item))

for i, dates in enumerate(review_dates):

    if len(dates) == 1:
        review_dates[i][0] = datetime.strptime(dates[0], '%m/%d/%Y')
    
    if len(dates) > 1:
        for j, date in enumerate(dates):
            review_dates[i][j] = datetime.strptime(date, '%m/%d/%Y')
        
df['Review_dates'] = review_dates
del review_dates

In [272]:
def last_date(dlist):
    
    if len(dlist) == 0:
        return None
    
    if len(dlist) == 0:
        return dlist[0]
    
    last = dlist[0]
    for date in dlist:
        if date > last:
            last = date
    return last

df['Last_Review_Date'] = df.Review_dates.apply(last_date)
df.Last_Review_Date.max()

Timestamp('2018-02-26 00:00:00')

In [279]:
def max_date_diff(dlist):
    if len(dlist) < 2:
        return 0
    first = dlist[0]
    last = dlist[0]
    for date in dlist:
        if first > date:
            first = date
        if last < date:
            last = date
    return (last - first).days

df['Max_Review_Date_Diff'] = df.Review_dates.apply(max_date_diff)
df.Max_Review_Date_Diff.max()

3207

In [280]:
df.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,Cuisine_Num,Review_dates,Last_Review_Date,Max_Review_Date_Diff
0,id_5569,Paris,"[European, French, International]",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,3,"[2017-12-31 00:00:00, 2017-11-20 00:00:00]",2017-12-31,41
1,id_1535,Stockholm,[Unknown],1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,1,"[2017-07-06 00:00:00, 2016-06-19 00:00:00]",2017-07-06,382
2,id_352,London,"[Japanese, Sushi, Asian, Grill, Vegetarian Fri...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,7,"[2018-01-08 00:00:00, 2018-01-06 00:00:00]",2018-01-08,2
3,id_3456,Berlin,[Unknown],3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,1,[],NaT,0
4,id_615,Munich,"[German, Central European, Vegetarian Friendly]",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,3,"[2017-11-18 00:00:00, 2017-02-19 00:00:00]",2017-11-18,272

In [281]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant_id         40000 non-null  object
 1   City                  40000 non-null  object
 2   Cuisine Style         40000 non-null  object
 3   Ranking               40000 non-null  float64
 4   Rating                40000 non-null  float64
 5   Price Range           26114 non-null  object
 6   Number of Reviews     37457 non-null  float64
 7   Reviews               40000 non-null  object
 8   URL_TA                40000 non-null  object
 9   ID_TA                 40000 non-null  object
 10  Cuisine_Num           40000 non-null  int64
 11  Review_dates          40000 non-null  object
 12  Last_Review_Date      33529 non-null  datetime64[ns]
 13  Max_Review_Date_Diff  40000 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(8)
memory usage: 4.3+ MB

In [285]:
all_cuisines = set()
for list in df['Cuisine Style']:
    for cuisine in list:
        all_cuisines.add(cuisine)
all_cuisines = all_cuisines - {'Unknown'}
len(all_cuisines)

125